<!-- Profile info section -->
<div class="user-profile">
  <div class="profile row">
    <div class="col-md-4 avatar">
      <div class="wrapper">
        <%= profile_pic %>
      </div>
    </div>
    <div class="col-md-8 basic-info">
      <div class="user-wrapper">
        <h2 class="username"><%= @user.username %></h2>
        <%= edit_profile %>
      </div>
      <ul class="posts">
        <li><span><%= pluralize(@posts.count, "vision") %></span></li>
      </ul>
      <h2 class="name"><%= @user.name %></h2>
      <% if @user == current_user %>
        <a class="email"><%= @user.email %></a>
      <% end %>
      <div class="bio-box">
        <h2 class="bio">Bio:</h2>
        <p><%= @user.bio %></p>
      </div>
    </div>
  </div>
</div>

<!-- Buttons to Show Posts using AJAX GET request-->
<div class="user-tabs">
  <button id="js-post" class="primary-btn" data-uid="<%= @user.id %>" data-pid="<%= @post.id %>" type="button" name="button">Images</button><br>
  <button id="js-post" class="primary-btn"  data-uid="<%= @user.id %>" data-pid="<%= @post.id %>" type="button" name="button">New Image</button>
</div>

<!-- Container to render images  -->
<div class="user-images">
  <div class="wrapper">

  </div>
</div>

<!-- JS for Show Post button -->
<script type="text/javascript" charset="utf8">
  $(function() {
    $("#js-post").on("click", function() {
      const userId = $(this).data("uid");
      $.get("/users/" + userId + ".json", function(data) {
        let post = data.posts.map(p => {
          return `
            <div class="wrapper">
              <img class="post-image" src="${p.image}"><br>
            </div>
          `
        })
        $(".user-images").html(post)
      })
    })
  })
</script>
