<% if user_signed_in? %>
  <div id="intro">
    <p>Hello <%= current_user.name %></p>
    <span>Share your inspirations and see what's inspiring others!</span>
  </div>
<% end %>

<div id="posts">
  <span id="pagination">
    <%= will_paginate @posts %>
  </span>
  <% @posts.each do |post| %>
    <div class="post">
      <div class="post_image">
        <%= link_to (image_tag post.image.url(:small)), post %>
      </div>
      <div class="post_content">
        <h2 class="title"><%= link_to post.title, post %></h2>
        <div class="data clearfix">
          <p class="username">
            Shared by <%= link_to post.user.name, user_path(post.user) %>
          </p>
          <span class="buttons">
            <i class="fa fa-comments-o"></i>
            <%= post.comments.count %>
            <i class="fa fa-thumbs-o-up"></i>
            <%= post.get_likes.size %>
          </span>
        </div>
      </div>
    </div>
  <% end %>
</div>
