<div id="post_show">

  <!-- Prev & Next Buttons -->
  <p class="js-next" data-id="<%= @post.id %>">
    <%= link_to "Prev", post_path(@post.prev), class: "next-prev" %> |
    <%= link_to "Next", post_path(@post.next), class: "next-prev" %>
  </p>

  <!-- Post Info -->
  <h1><%= @post.title %></h1>
  <p class="username">
    Shared by <%= link_to @post.user.name, user_path(@post.user), class: "name" %> <%= posted_at %> ago
  </p>

  <!-- Post Image -->
  <div class="clearfix">
    <div class="post_image_description">
      <%= image_tag @post.image.url(:medium) %>

      <!-- Post Description -->
      <div id="body-<%= @post.id %>" class="description">
        <%= truncate(@post.description, length: 150) %><br>
        <button class="primary-btn" id="js-more" data-id="<%= @post.id %>" type="button" name="button">Read More...</button>
      </div>

    </div>

    <!-- Post Controls -->
    <div class="post_data">
      <%= link_to "Vist Link", @post.link, class: "button" %>
      <%= link_to like_post_path(@post), method: :get, class: "data" do %>
         <i class="fa fa-thumbs-o-up"></i>
         <%= pluralize(@post.get_upvotes.size, "Like") %>
      <% end %>
      <%= link_to dislike_post_path(@post), method: :get, class: "data" do %>
         <i class="fa fa-thumbs-o-down"></i>
         <%= pluralize(@post.get_downvotes.size, "Dislike") %>
      <% end %>
      <p class="data">
        <i class="fa fa-comments-o"></i>
        <%= pluralize(@post.comments.count, "Comment") %>
      </p>
      <%= edit_post %>
      <%= delete_post %>
    </div>
  </div>
</div>

<!-- Comment Section -->
<div id="comments">
  <h3 class="comment_count">Comments</h3>
    <div class="post-comments">
      <% if @post.comments.any? %>
        <% @comments.each do |comment| %>
        <li id="comment"><blockquote><strong><%= comment.user.username %></strong> says:
          <em><%= comment.content %></em></blockquote></li>
        <% end %>
          <div id="new-comment">
            <!-- New Comments created by AJAX call -->
          </div>
      <% else %>
      <div class="no-comments">
            There are no comments for this Vision
          </div>
      <% end %>
    </div>
    <% if signed_in? %>
      <%= render 'comments/form', post: @post, comment: @comment %>
    <% end %>
</div>
