<header class="wrapper clearfix">
  <div class="logo">
    <%= link_to 'Visionz', root_path %>
  </div>
    <nav>
      <% if user_signed_in? %>
        <%= link_to current_user.name, user_path(current_user) %>
        <%= link_to "All Users", users_path %>
        <%= link_to "Get Inspired", root_path, class: "button" %>
        <%= link_to "Add New Inspiration", new_user_post_path(current_user), class: "button" %>
        <a href="<%= destroy_user_session_path %> "data-method="delete">Sign Out
          <i class="fa fa-user"></i>
        </a>
      <% else %>
        <a href="<%= new_user_session_path%>">Sign In
          <i class="fa fa-sign-in"></i>
        </a>
        <%= link_to "Sign Up", new_user_registration_path, class: "button" %>
      <% end %>
    </nav>
</header>
